# gitignore

.code
.vscode
.idea
.DS_Store
*.retry
*.log
*.pem
*.pub

vault_pass*

# Molecule
.molecule/
.cache/

# Ansible
.ansible/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
