---
# tasks file for pyenv-poetry

- name: Validate required variables
  ansible.builtin.assert:
    that:
      - primary_user_account is defined
      - primary_user_account | length > 0
      - user_home_dir is defined
      - user_home_dir | length > 0
    fail_msg: |
      Required variables not properly set. Please define:
      - primary_user_account: The username of the primary user account
      - user_home_dir: The home directory of the user
      Current values:
      - primary_user_account: {{ primary_user_account | default('NOT DEFINED') }}
      - user_home_dir: {{ user_home_dir | default('NOT DEFINED') }}
    success_msg: "All required variables are properly configured"

- name: Detect user shell
  ansible.builtin.shell: "getent passwd {{ primary_user_account }} | cut -d: -f7"
  register: detected_shell
  changed_when: false
  when: shell_type == 'auto'

- name: Set shell config file based on detected or specified shell
  ansible.builtin.set_fact:
    shell_config_file: >-
      {%- if shell_type == 'bash' -%}
        .bashrc
      {%- elif shell_type == 'zsh' -%}
        .zshrc
      {%- elif shell_type == 'auto' and detected_shell.stdout is defined -%}
        {%- if 'zsh' in detected_shell.stdout -%}
          .zshrc
        {%- elif 'bash' in detected_shell.stdout -%}
          .bashrc
        {%- else -%}
          .profile
        {%- endif -%}
      {%- else -%}
        .profile
      {%- endif -%}

- name: Install required dependencies
  ansible.builtin.apt:
    name:
      - build-essential
      - libssl-dev
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libsqlite3-dev
      - wget
      - curl
      - llvm
      - libncurses5-dev
      - libncursesw5-dev
      - xz-utils
      - tk-dev
      - libffi-dev
      - liblzma-dev
      - python3-openssl
      - git
    state: present

- name: Clone pyenv repository
  ansible.builtin.git:
    repo: https://github.com/pyenv/pyenv.git
    dest: "{{ user_home_dir }}/.pyenv"
    version: "{{ pyenv_version }}"

- name: Add pyenv to PATH
  ansible.builtin.lineinfile:
    dest: "{{ user_home_dir }}/{{ shell_config_file }}"
    line: 'export PATH="$HOME/.pyenv/bin:$HOME/.pyenv/shims:$PATH"'
    state: present
    create: yes
    mode: '0644'
  become: true
  become_user: "{{ primary_user_account }}"

- name: Add pyenv init to shell
  ansible.builtin.lineinfile:
    dest: "{{ user_home_dir }}/{{ shell_config_file }}"
    line: 'eval "$(pyenv init -)"'
    state: present
    create: yes
    mode: '0644'
  become: true
  become_user: "{{ primary_user_account }}"

- name: Add pyenv env
  ansible.builtin.lineinfile:
    dest: "{{ user_home_dir }}/{{ shell_config_file }}"
    line: 'export PYENV_ROOT="$HOME/.pyenv"'
    state: present
    create: yes
    mode: '0644'
  become: true
  become_user: "{{ primary_user_account }}"

- name: Check if Python version exists # noqa command-instead-of-shell
  ansible.builtin.shell: "{{ pyenv_executable }} versions --bare"
  register: python_versions
  ignore_errors: true
  changed_when: false
  become: true
  become_user: "{{ primary_user_account }}"

- name: Set python_version_exists fact
  ansible.builtin.set_fact:
    python_version_exists: "{{ python_versions.stdout_lines | select('equalto', python_version) | list | length > 0 }}"

- name: "Install Python with pyenv" # noqa command-instead-of-shell
  ansible.builtin.shell: "{{ pyenv_executable }} install '{{ python_version }}'"
  when: not python_version_exists
  register: pyenv_install
  changed_when: pyenv_install.rc == 0
  become: true
  become_user: "{{ primary_user_account }}"

- name: Check the current global Python version # noqa command-instead-of-shell
  ansible.builtin.shell: "{{ pyenv_executable }} version-name"
  register: current_python_version
  changed_when: false
  become: true
  become_user: "{{ primary_user_account }}"
  ignore_errors: true

- name: "Set global Python version" # noqa command-instead-of-shell
  ansible.builtin.shell: "{{ pyenv_executable }} global '{{ python_version }}'"
  when: current_python_version.stdout != python_version
  register: global_python
  changed_when: global_python.rc == 0
  become: true
  become_user: "{{ primary_user_account }}"

#############################
# Install poetry
# https://python-poetry.org/docs/
#############################

- name: Check if pipx is installed
  ansible.builtin.command: pipx --version
  register: pipx_version_check
  ignore_errors: true
  changed_when: false
  become: true
  become_user: "{{ primary_user_account }}"
  environment: "{{ pyenv_environment }}"

- name: Install pipx with pip
  ansible.builtin.pip:
    name: "pipx{% if pipx_version != 'latest' %}=={{ pipx_version }}{% endif %}"
    state: present
    executable: "{{ user_home_dir }}/.pyenv/shims/pip"
  become: true
  become_user: "{{ primary_user_account }}"
  environment: "{{ pyenv_environment }}"
  when: install_poetry and pipx_version_check.rc != 0

- name: Check if Poetry is installed
  ansible.builtin.command: poetry --version
  register: poetry_version_check
  ignore_errors: true
  changed_when: false
  become: true
  become_user: "{{ primary_user_account }}"
  environment: "{{ pyenv_environment_with_local }}"

- name: Install Poetry with pipx # noqa no-changed-when
  ansible.builtin.shell: |
    {% if poetry_version == 'latest' %}
    pipx install poetry
    {% else %}
    pipx install poetry=={{ poetry_version }}
    {% endif %}
  become: true
  become_user: "{{ primary_user_account }}"
  environment: "{{ pyenv_environment_with_local }}"
  when: install_poetry and poetry_version_check.rc != 0

- name: Upgrade Poetry with pipx # noqa no-changed-when
  ansible.builtin.shell: |
    {% if poetry_version == 'latest' %}
    pipx upgrade poetry
    {% else %}
    pipx upgrade poetry --install poetry=={{ poetry_version }}
    {% endif %}
  become: true
  become_user: "{{ primary_user_account }}"
  environment: "{{ pyenv_environment_with_local }}"
  when: install_poetry and poetry_version_check.rc == 0
